.App {
  align-items: start;
  display: flex;
  flex-direction: column;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 450;
  justify-content: start;
  height: auto;
  line-height: 1.35em;
  margin: 3.5em 0em 10em 0em;
  max-width: 58em;
  padding: 0;
}

.App a {
  color: inherit;
  text-decoration: none;
}

.App ul {
  list-style: none;
  list-style-position: outside;
  margin: 0 0 1em 0;
  padding: 0;
  width: 100%;
}
.App ul:last-child {
  margin: 0;
}

.App li:before {
  bottom: 0.085em;
  content: "\2022";
  font-size: 0.8em;
  font-weight: 100;
  list-style-type: none;
  list-style-position: outside;
  padding-right: 0.675em;
  position: relative;
}

.App .wrapper {
  display: grid;
  font-size: 0.9em;
  grid-template-columns: 9.25em auto;
  height: auto;
  margin: 1.75em 0 0 1.75em;
  width: 100%;
}

.App .spacer {
  height: 100%;
  width: 100%;
}

.sectionTitle {
  font-weight: 600;
}

@page {
  size: 8.5in 11in;
  margin: 0.25in 0.25in 1in 0.25in;
}
@page:left {
  margin-top: 0.5in;
}
@page {
  @left-bottom {
    content: "Page " counter(pageNumber);
    font-size: 0.75em;
  }
}

@media print {
  .App {
    font-size: 0.8em;
    line-height: 1.175em;
  }
  .App li:before {
    font-size: 0.65em; 
    padding-right: 0.55em;
  }
  .App .wrapper {
    font-size: 0.75em;
    grid-template-columns: 12% auto;
  }
  .App ul {
    width: 85%;
  }
}
